:root {
  /* variables */
  --board-line-size: 2px;

  /* colors */
  --primary: #2A3380;
  --secondary: #A1AAFF;
  --tertiary: #5465FF;
  --quaternary: #505580;
  --quinary: #4351CC;
  --white: #ffffff;
}

/* global */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}